/**
* New-HR Styles - version 0.1
* Dashboard views
**/

h3.hrc-h3 {
    font-weight   : 700 !important;
    font-size     : 3rem !important;
    letter-spacing: -0.05rem !important;
}

h4.hrc-h4 {
    font-weight   : 700 !important;
    font-size     : 2.25rem !important;
    letter-spacing: -0.05rem !important;
}

h5.hrc-h5 {
    font-weight   : 700 !important;
    font-size     : 1.75rem !important;
    letter-spacing: -0.05rem !important;
    border        : none !important;
}

h5.hrc-h5 i {
    clear : both !important;
    border: none !important;
}

a.hrc-a:hover {
    text-decoration: none !important;
}

.hrc-black {
    color: #3b3f51 !important;
}
.hrc-current-color{
    color: currentColor !important;
}

.hrc-green {
    color: #009cf3 !important;
}

.hrc-red {
    color: #ED6B75 !important;
}

.hrc-orange {
    color: #f7b034 !important;
}

.hrc-dark-orange {
    color: #F69708 !important;
}

.hrc-blue {
    color: #3598dc !important;
}

.hrc-blue:hover {
    color: #2f87c2 !important;
}

.hrc-dark-grey {
    color: #9a9a9a !important;
}

.hrc-grey {
    color: #b9b9b9 !important;
}

.hrc-ligth-grey {
    color: #dadada !important;
}

.hrc-superligth-grey {
    color: #f4f4f4 !important;
}

.hrc-white {
    color: #FFFFFF !important;
}

.hrc-green-border {
    border-color: #24bb72 !important;
}

/* Margins & Paddings*/

.hrc-m-4 {
    margin: 4px;
}

.hrc-mr-6 {
    margin-right: 6px;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.hrc-mt-2 {
    margin-top: 2px !important;
}

.hrc-mr-2 {
    margin-right: 2px !important;
}

.hrc-mb-2 {
    margin-bottom: 2px !important;
}

.hrc-ml-2 {
    margin-left: 2px !important;
}
.hrc-mt-4 {
    margin-top: 4px !important;
}

.hrc-mr-4 {
    margin-right: 4px !important;
}

.hrc-mb-4 {
    margin-bottom: 4px !important;
}

.hrc-ml-4 {
    margin-left: 4px !important;
}

.hrc-mt-5 {
    margin-top: 5px !important;
}

.hrc-mr-5 {
    margin-right: 5px !important;
}

.hrc-mb-5 {
    margin-bottom: 5px !important;
}

.hrc-ml-5 {
    margin-left: 5px !important;
}

.hrc-mt-6 {
    margin-top: 6px !important;
}

.hrc-mr-6 {
    margin-right: 6px !important;
}

.hrc-mb-6 {
    margin-bottom: 6px !important;
}

.hrc-ml-6 {
    margin-left: 6px !important;
}

.hrc-mt-8 {
    margin-top: 8px !important;
}

.hrc-mr-8 {
    margin-right: 8px !important;
}

.hrc-mb-8 {
    margin-bottom: 8px !important;
}

.hrc-ml-8 {
    margin-left: 8px !important;
}

.hrc-mt-10 {
    margin-top: 10px !important;
}

.hrc-mr-10 {
    margin-right: 10px !important;
}

.hrc-mb-10 {
    margin-bottom: 10px !important;
}

.hrc-ml-10 {
    margin-left: 10px !important;
}

.hrc-mr-10 {
    margin-left: 10px !important;
}

.hrc-m-16 {
    margin-top   : 16px;
    margin-bottom: 16px;
}

.hrc-mt-16 {
    margin-top: 16px;
}

.hrc-mb-16 {
    margin-bottom: 16px;
}

.hrc-mb-20 {
    margin-bottom: 20px;
}

.hrc-mt-20 {
    margin-top: 20px;
}

.hrc-ml-20 {
    margin-left: 20px !important;
}

.hrc-mr-20 {
    margin-left: 20px !important;
}

.hrc-mb-26 {
    margin-bottom: 26px;
}

.hrc-mt-26 {
    margin-top: 26px;
}

.hrc-mt-0 {
    margin-top: 0;
}

.hrc-mb-0 {
    margin-bottom: 0;
}

.hrc-margin-redes {
    margin-left: 32px;
    margin-right: 32px;
}

.hrc-p-0 {
    padding-right: 0;
    padding-left : 0;
}

.hrc-pt-0 {
    padding-top: 0;
}

.hrc-pb-0 {
    padding-bottom: 0;
}

.hrc-pt-4 {
    padding-top: 4px;
}

.hrc-pb-4 {
    padding-bottom: 4px;
}

.hrc-pt-8 {
    padding-top: 8px;
}

.hrc-pb-8 {
    padding-bottom: 8px;
}

.hrc-pt-14 {
    padding-top: 14px;
}

.hrc-pb-14 {
    padding-bottom: 14px;
}

.hrc-pt-16 {
    padding-top: 16px;
}

.hrc-pb-16 {
    padding-bottom: 16px;
}

.hrc-p-20 {
    padding: 20px;
}

.hrc-pt-24 {
    padding-top: 24px;
}

.hrc-pb-24 {
    padding-bottom: 24px;
}

.hrc-pl-32 {
    padding-left: 32px;
}

.hrc-pr-32 {
    padding-right: 32px;
}


/* End Margins & Paddings */

.hrc-nopadding {
    padding: 0 !important;
    margin : 0 !important;
}

.hrc-separate {
    padding-top   : 10px;
    padding-bottom: 10px;
}

.hrc-separate-2x {
    padding-top   : 20px;
    padding-bottom: 20px;
}

.hrc-margin-top-11 {
    margin-top: 11.2px !important;
}

.hrc-margin-top-15 {
    margin-top: 15px !important;
}

.hrc-margin-top-25 {
    margin-top: 25px !important;
}

.hrc-margin-top-24 {
    margin-top: 24px !important;
}

.hrc-margin-top-26 {
    margin-top: 26px !important;
}

.hrc-margin-top-4 {
    margin-top: 4px !important;
}

.hrc-margin-top-8 {
    margin-top: 8px !important;
}

.hrc-margin-bottom-11 {
    margin-bottom: 11.2px !important;
}

.hrc-margin-bottom-24 {
    margin-bottom: 24px !important;
}

.hrc-margin-bottom-26 {
    margin-bottom: 26px !important;
}

.hrc-margin-bottom-4 {
    margin-bottom: 4px !important;
}

.hrc-f18{
    font-size: 18px !important;
}

.hrc-fs1 {
    font-size  : 1.75rem !important;
    margin     : 0;
    padding    : 0;
    top        : 0;
    line-height: 1.6em !important;
}

.hrc-fs2 {
    font-size: 2.5rem !important;
    margin   : 0;
    padding  : 0;
}

.hrc-fs3 {
    font-size: 3.25rem !important;
    margin   : 0;
    padding  : 0;
}

.hrc-fs4 {
    font-size  : 1.75rem !important;
    margin     : 0;
    padding    : 0;
    top        : 0;
}

.hrc-fw-400 {
    font-weight: 400;
}

.hrc-fw-600 {
    font-weight: 600;
}

.hrc-font-redes {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.error_text,
.error_name,
.error_keyclouding,
.error_kudert,
.error-pipeline-selector,
.error_country {
    color: #ED6B75;
    font-weight: 400;
    padding: 4px;
}

.hrc-help-green-block {
    margin-top   : 5px;
    margin-bottom: 5px;
}

.hrc-form-rounded {
    border-radius: 6px !important;
    padding      : 30px;
}

.hrc-form-rounded h3 {
    font-size  : 1.765rem !important;
    font-weight: 700 !important;
}

.hrc-form-rounded label {
    padding    : 6px 0;
    font-size  : 1.5rem;
    font-weight: 600;
}

/* Botones */

.hrc-btn {
    border-radius: 8px !important;
    font-size    : 14px !important;
    font-weight  : 600 !important;
    display      : inline-flex !important;
    line-height  : 1.8em !important;
    min-width    : 32px !important;
    min-height   : 32px !important;
}

.hrc-btn-w-160 {
    width     : 160px;
    text-align: center;
    display   : table-cell !important;
}

.hrc-btn-lg {
    height       : 48px !important;
    border-radius: 8px !important;
    font-weight  : 600 !important;
}

.hrc-btn-xs {
    height     : 32px !important;
    line-height: 1.3em !important;
}

.hrc-btn-xs .hrc-fs1 {
    line-height: 1.1em !important;
}

.hrc-btn.focus {
    color: inherit !important;
}

.hrc-btn-default {
    background: #dadada !important;
    color     : #3b3f51;
    border    : 1px solid #dadada;
}

.hrc-size-redes {
    width    : 40px !important;
    height   : 40px !important;
}

.hrc-size-redes-profile {
    width    : 32px !important;
    height   : 32px !important;
}

.hrc-btn-default:hover {
    background: #C9C9C9 !important;
    border    : 1px solid #C9C9C9;
}

.hrc-btn-default:focus {
    background: #C0C0C0 !important;
    border    : 1px solid #C0C0C0;
}

.hrc-btn-black {
    background: #3B3F51 !important;
    color     : #FFFFFF;
}

.hrc-btn-black:hover {
    background: #52576E !important;
    color     : #FFFFFF;
}

.hrc-btn-black:focus {
    color     : #FFFFFF;
    background: #1da1f2 !important;
}

.hrc-btn-green {
    color     : #FFFFFF !important;
    background: #0073ff !important;
}

.hrc-btn-green:hover {
    color     : #FFFFFF !important;
    background: #1da1f2 !important;
}

.hrc-btn-green:focus {
    color     : #FFFFFF !important;
    background: #1da1f2 !important;
}

.hrc-btn-ligth-green {
    color     : #24BB72 !important;
    background: #ABEFCFCC !important;
}

.hrc-btn-green-outline,
.hrc-btn-green-outline:focus,
.hrc-btn-green-outline.focus {
    color       : #24bb72;
    border-color: #24bb72;
    background  : transparent !important;
}

.hrc-btn-green-outline:hover {
    color           : #24bb72 !important;
    border-color    : #24BB72 !important;
    background-color: #F0FFF8 !important;
}

.hrc-btn-green-outline:active {
    color           : #24bb72 !important;
    border-color    : #24BB72;
    background-color: #D5FDEA !important;
}

.hrc-btn-green-jungle {
    border       : 1px solid #24bb72 !important;
    border-radius: 8px !important;
    background   : #24bb72;
    color        : #FFFFFF;
}

.hrc-btn-green-jungle:hover {
    background: #13B165;
    color     : #FFFFFF !important;
}

.hrc-btn-red,
.hrc-btn-danger {
    border       : 1px solid #ED6B75 !important;
    border-radius: 8px !important;
    background   : #ED6B75;
    color        : #FFFFFF;
}

.hrc-border-danger {
    border       : 1px solid #ED6B75 !important
}

.hrc-btn-red:hover,
.hrc-btn-danger:hover {
    background: #CF4D57;
    color     : #FFFFFF !important;
}

.hrc-btn-blue {
    background: #3598dc;
    color     : #FFFFFF !important;
}

.hrc-btn-blue:hover {
    background: #44a2e0;
    color     : #FFFFFF !important;
}

.hrc-btn-link,
.hrc-btn-link:focus,
.hrc-btn-link.focus {
    color          : #24bb72;
    text-decoration: none;
}

.hrc-btn-link:hover {
    color          : #119354;
    text-decoration: none;
}

.hrc-btn-black-outline,
.hrc-btn-black-outline:focus,
.hrc-btn-black-outline.focus {
    color       : #3B3F51 !important;
    border-color: #3B3F51 !important;
    background  : white !important;
}

.hrc-btn-black-outline:hover {
    color           : #3B3F51 !important;
    border-color    : #3B3F51;
    background-color: #ECEDF0 !important;
}

.hrc-btn-black-outline:active {
    color           : #3B3F51 !important;
    border-color    : #3B3F51;
    background-color: #DFE0E2 !important;
}

.hrc-btn-black-outline:active i {
    color: #FFFFFF;
}

.hrc-btn-hr-icon {
    font-size: 1.5rem;
}

.hrc-btn-social-facebook {
    color           : #FFFFFF;
    background-color: #0078F7;
}

.hrc-btn-social-twitter {
    color           : #FFFFFF;
    background-color: #03A9F4;
}

.hrc-btn-social-linkedin {
    color           : #FFFFFF;
    background-color: #0077B7;
}

.hrc-btn-social-facebook:hover,
.hrc-btn-social-linkedin:hover,
.hrc-btn-social-twitter:hover {
    opacity: 0.8;
}

/* Next-Prev buttons */

.hrc-btn-outline {
    border          : 1px solid #24BB72;
    background-color: #FFFFFF !important;
    color           : #24BB72;
}

.hrc-btn-outline:hover {
    background-color: #F0FFF8 !important;
    color           : #24BB72 !important;
}

.hrc-btn-outline:focus {
    background-color: #D5FDEA !important;
    color           : #24BB72;
}

.hrc-btn-outline-grey {
    background: #FFFFFF !important;
    color     : #C9C9C9;
    border    : 1px solid #C9C9C9;
}

.hrc-btn-outline-grey:hover {
    background: #C9C9C9 !important;
    border    : 1px solid #C9C9C9;
}

.hrc-btn-outline-grey:focus {
    background: #C0C0C0 !important;
    border    : 1px solid #C0C0C0;
}

.hrc-btn-actions {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    border: 1px solid #3B3F51;
    text-align: center;
}

.navbar {
    padding         : 0;
    border          : none;
    background-color: white;
}

.navbar-personalized {
    border-radius: 6px !important;
}

.hrc-navbar .navbar-header {
    text-align: center;
}

.hrc-navbar .navbar-header a {
    text-align : center;
    height     : 70px;
    line-height: 40px;
    width      : 80%;
    margin     : 0 10% !important;
    font-weight: 600;
    font-size  : 1.65rem;
    color      : rgb(71.4%, 71.4%, 71.4%) !important;
    cursor     : default !important;
}

.hrc-navbar .navbar-header a:hover,
.hrc-navbar .navbar-header a:visited {
    color: rgb(71.4%, 71.4%, 71.4%) !important;
}

.hrc-navbar .navbar-header a:active {
    color: #24bb72 !important;
}

.hrc-navbar .navbar-header a.active {
    color           : #24bb72 !important;
    /* border-bottom: #24bb72 8px solid; */
}

.primary-underline {
    text-decoration        : none;
    border-top             : 6px solid #24BB72;
    border-top-right-radius: 6px !important;
    border-top-left-radius : 6px !important;
    line-height            : 10px;
    height                 : 8px;
    width                  : 100%;
    display                : inline-block;
    position               : relative;
    bottom                 : -10;
}

/* Inputs */

input[type="text"].hrc-input,
input[type="number"].hrc-input,
input[type="tel"].hrc-input,
input[type="email"].hrc-input,
select.hrc-select,
.select2-selection,
input.hrc-input#input_nameTag,
.form-section select.hrc-select {
    border-radius  : 8px !important;
    /* border-color: rgba(202, 201, 201, 0.7) !important;   */
    border-color   : #DADADA !important;
    width          : 100% !important;
    font-size      : 14px;
    color          : #9A9A9A !important;
    padding-left   : 15px;
    padding-right  : 15px;
    margin         : 0;
    outline        : none !important;
}
.form-section select.hrc-select:disabled{
    cursor: not-allowed;
    background-color: #f4f4f4 !important;
    color: #9A9A9A !important;
    opacity: 100;
}

input[type="text"].hrc-input,
input[type="number"].hrc-input,
input[type="tel"].hrc-input,
input[type="email"].hrc-input,
select.hrc-select,
input.hrc-input#input_nameTag,
.form-section select.hrc-select {
    height: 40px !important;
}

input[type="text"].hrc-input:focus,
input[type="number"].hrc-input:focus,
input[type="tel"].hrc-input:focus,
input[type="email"].hrc-input:focus,
select.hrc-select:focus,
.select2-selection:focus,
input.hrc-input#input_nameTag:focus,
.form-section select.hrc-select:focus {
    border : 1px solid #DADADA !important;
    outline: none !important;
    color  : #3B3F51 !important;
}

.form-section select.hrc-select {
    color: #333333 !important;
}

select.hrc-select-160 {
    width: 160px !important;
}

.form-section h3.hrc-h3 {
    font-size: 1.8rem !important;
}

.form-section label.hrc-label {
    font-size    : 1.5rem;
    margin-bottom: 4px;
}

input[type="text"].hrc-input.input-sm {
    height: 30 !important;
}

#vacancy_tags,
#save_tag {
    margin: 0;
}

textarea.hrc-textarea {
    border-radius: 8px !important;
    border-color : #DADADA !important;
    font-size    : 14px;
}

input.hrc-input:focus,
input[type="text"].hrc-input:focus,
textarea.hrc-textarea:focus,
select.hrc-select:focus {
    outline     : none !important;
    border-color: #b9b9b9 !important;
}

select.hrc-select {
    -webkit-appearance: none;
    -moz-appearance   : none;
    -ms-appearance    : none;
    -o-appearance     : none;
    appearance        : none;
    background-color  : #FFFFFF !important;
}

option.hrc-option:checked,
option.hrc-option:hover {
    background-color: #24bb72;
    color           : #FFFFFF;
    padding         : 6px !important;
}

.select-wrapper,
.select-carret {
    position: relative;
}

.select-wrapper:after,
.select-carret:after,
.dd-pointer-up:after,
.dd-pointer-down:after {
    font-family   : 'Hiring-Font';
    content       : '\e910';
    font-size     : 28px;
    position      : absolute;
    top           : 3px;
    right         : 10px;
    color         : #24bb72;
    pointer-events: none;
}

.select-carret:after {
    right: 0;
}

.span_report_text {
    margin-left: 5px;
    font-size: 14px !important;
}

.form-rounded input[type="text"].hrc-input.center-addon {
    /* padding: 0;  */
    margin                    : 0;
    border-right              : none !important;
    border-top-left-radius    : 8px !important;
    border-bottom-left-radius : 8px !important;
    border-top-right-radius   : 0px !important;
    border-bottom-right-radius: 0px !important;
    z-index                   : 1 !important;
    margin                    : 4px 0;
}

.form-rounded input[type="text"].hrc-input.center-addon:focus {
    border-right: none !important;
}

.form-rounded input[type=checkbox],
.form-rounded input[type=radio] {
    --active          : #24bb72;
    --active-inner    : #fff;
    --focus           : 2px #3598dc;
    --border          : #b9b9b9;
    --border-hover    : #24bb72;
    --background      : #fff;
    --disabled        : #DADADA;
    --disabled-inner  : #DADADA;
    -webkit-appearance: none;
    -moz-appearance   : none;
    height            : 21px;
    outline           : none;
    display           : inline-block;
    vertical-align    : top;
    position          : relative;
    margin            : 0;
    cursor            : pointer;
    border            : 1px solid var(--bc, var(--border));
    border-radius     : 4px !important;
    background        : var(--b, var(--background));
    transition        : background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

.form-rounded input[type=checkbox]:after,
.form-rounded input[type=radio]:after {
    content   : "";
    display   : block;
    left      : 0;
    top       : 0;
    position  : absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}

.form-rounded input[type=checkbox]:checked,
.form-rounded input[type=radio]:checked {
    --b    : var(--active);
    --bc   : var(--active);
    --d-o  : .3s;
    --d-t  : .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}

.form-rounded input[type=checkbox]:disabled,
.form-rounded input[type=radio]:disabled {
    --b    : var(--disabled);
    cursor : not-allowed;
    opacity: 0.9;
}

.form-rounded input[type=checkbox]:disabled:checked,
.form-rounded input[type=radio]:disabled:checked {
    --b : var(--disabled-inner);
    --bc: var(--border);
}

.form-rounded input[type=checkbox]:disabled+label,
.form-rounded input[type=radio]:disabled+label {
    cursor: not-allowed;
}

.form-rounded input[type=checkbox]:hover:not(:checked):not(:disabled),
.form-rounded input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
}

.form-rounded input[type=checkbox]:focus,
.form-rounded input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
}

.form-rounded input[type=checkbox]:not(.switch),
.form-rounded input[type=radio]:not(.switch) {
    width: 20px;
}

.form-rounded input[type=checkbox]:not(.switch):after,
.form-rounded input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
}

.form-rounded input[type=checkbox]:not(.switch):checked,
.form-rounded input[type=radio]:not(.switch):checked {
    --o: 1;
}

.form-rounded input[type=checkbox]+label,
.form-rounded input[type=radio]+label {
    font-size        : 14px;
    line-height      : 14px;
    display          : inline-block;
    /* vertical-align: top; */
    cursor           : pointer;
    margin-left      : 10px;
    font-weight      : 300;
}

.hrc-label-question {
    line-height: 22px !important;
}

/* template email */
.tooltip-inner {
    max-width: 350px;
}

.cke_dialog{z-index: 10050 !important;}

.panel-heading.with-button {
    display: flex;
    height: 61px;
}

.panel-heading.with-button .panel-title {
    float: left;
    line-height: 40px;
}

.hrc-label {
    background-color:  #ABEFCF !important;
    font-size: 11px ;
    color: #2a2a2a !important;
    border-radius: 6px;
}

.hrc-btn-add {
    background-color: #ffffff;
    color: #24BB72;
    border-radius: 6px !important;
    border-color: #24BB72;
    height: 40px;
    font-size: 12px;
    padding: 0 10px;
}

.hrc-btn-add:hover{
    background-color: #F0FFF8;
    color: #24BB72;
}

.hrc-btn-add:active{
    background-color: #D5FDEA;
    color: #24BB72;
}

.btn.hrc-btn-add:focus {
    color: #24BB72;
}

.hrc-btn-add:visited{
    background-color: #D5FDEA !important;
    color: #24BB72 !important;
}

.hrc-icon-Plus{
    font-size: 16px !important;
    color: #24BB72 !important;
    float: left;
}

.hrc-btn-edit {
    background-color: #3B3F51 !important;
    color: #FFF !important;
}

.hrc-btn-edit:hover {
    background: #52576E !important;
    color: #FFF !important;
}

.hrc-btn-discard {
    background-color: #DFE0E2;
    color: #3B3F51;
    border-color: #3B3F51;
}

a.green-link {
    color: #24bb72;
}

a.green-link:hover {
    color: #119354 !important;
    text-decoration: none;
}

.alert-orange {
    background-color: #FFD893;
}

.hrc-icon {
    font-size: 16px !important;
    color: #24BB72 !important;
    float: left;
    position: absolute;
    right: 25px;
    top: 34px;
    padding-top: 4px;
}

.hrc-btn-api {
    background: #dadada !important;
    color     : #3b3f51 !important;
    border    : 0.5px solid #3b3f51;
    width: 170px !important;
    font-size: 12px;
}

.hrc-btn-api:hover {
    background: #C9C9C9 !important;
    color     : #3b3f51 !important;
}

.logo-img {
    width: 200px; 
    height: 200px;
}

.logo-img-redes-perfil { 
    height: 24px !important;
}

/* add user */

.hrc-bt-0 {
    border-top: 0px;
}

.modal-title-user {
    float: left;
    display: flex;
}

.hrc-btn-add-user {
    background-color: #FFFFFF;
    border : 1px solid #24BB72; 
    border-radius:8px!important;
    color : #24BB72; 
    font-size    : 14px !important;
    font-weight  : 600 !important;
    height       : 40px !important;
    line-height : 1.8em !important;
    min-width: 120px; 
}

.hrc-btn-add-user:hover {
    background-color: #F0FFF8 !important;
    color           : #24BB72 !important;
}

.hrc-btn-remove-user {
    background-color: #FFFFFF;
    border : 1px solid #3B3F51; 
    border-radius:8px!important;
    color : #3B3F51; 
    font-size    : 14px !important;
    font-weight  : 600 !important;
    height       : 40px !important;
    line-height : 1.8em !important;
    min-width: 120px; 
}

.hrc-btn-remove-user:hover {
    color           : #3B3F51 !important;
    border-color    : #3B3F51;
    background-color: #ECEDF0 !important;
}

.users_container_scroll {
    height: 480px;
    width: 100%; 
    overflow-y: auto;
}

.users_container_scroll::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

.users_container_scroll::-webkit-scrollbar-button {
    display: none;
}

.users_container_scroll::-webkit-scrollbar-thumb {
    box-shadow: 0px 0px 0px 10px inset;
    height: 100px;
    color: rgba(0, 0, 0, 0.3);

}

.form-vacancy {
    height: 40px !important;
}

.hrc-redes-profile {
    height: 32px !important;
}

.hrc-icon-Search {
    color: #24bb72 !important;
    position: absolute;
    top: 55px;
    right: 20px;
}

.invite-user-block {
    display: inline-grid;
    vertical-align: middle;   
}

.label-inline{
    width: 15% !important;
    align-items: center;
    display: inline-flex !important;
}
.radio-size{
    height: 14px !important; 
    width: 14px !important;
}

.radio-option{
    margin-left:4px;
    color:#333  !important;
}



/* 
.form-rounded input[type=radio] + label {
    margin-left: 0px;
} */

.form-rounded input[type=checkbox]:not(.switch),
.form-rounded input[type=radio]:not(.switch) {
    border-radius: 7px;
}

.form-rounded input[type=checkbox]:not(.switch):after,
.form-rounded input[type=radio]:not(.switch):after {
    width      : 5px;
    height     : 9px;
    border     : 2px solid var(--active-inner);
    border-top : 0;
    border-left: 0;
    left       : 7px;
    top        : 4px;
    transform  : rotate(var(--r, 20deg));
}

.form-rounded input[type=checkbox]:not(.switch):checked,
.form-rounded input[type=radio]:not(.switch):checked {
    --r: 43deg;
}

.form-rounded input[type=radio].switch {
    width        : 38px;
    border-radius: 11px;
}

.form-rounded input[type=radio].switch:after {
    left         : 2px;
    top          : 2px;
    border-radius: 50%;
    width        : 15px;
    height       : 15px;
    background   : var(--ab, var(--border));
    transform    : translateX(var(--x, 0));
}

.form-rounded input[type=radio].switch:checked {
    --ab: var(--active-inner);
    --x : 17px;
}

.form-rounded input[type=radio].switch:disabled:not(:checked):after {
    opacity: 0.6;
}

.form-rounded input[type=checkbox].check_report:after {
    left: 7px !important;
    top: 4px !important;
}

input[type=checkbox].switch {
    width        : 50px;
    height       : 30px;
    border-radius: 30px !important;
    box-shadow   : none;
}

input[type=checkbox].switch:after {
    left         : 2px;
    top          : 2px;
    border-radius: 50%;
    width        : 24px;
    height       : 24px;
    background   : var(--ab, var(--border));
    transform    : translateX(var(--x, 0));
}

input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x : 20px;
}

input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
}

.hrc-date-selectable {
    border       : 1px solid #DADADA !important;
    border-radius: 8px !important;
    width        : 100% !important;
    height       : 44px !important;
    font-size    : 1.4rem;
    color        : #9A9A9A !important;
    padding-right: 15px;
    margin       : 4px 0;
}

.hrc-date-selectable i {
    position: absolute;
    left    : 92%;
    float   : left;
    top     : 35px;
    padding : 10px;
}

input[type="text"].hrc-input.hrc-datepicker {
    border: none !important;
    margin: 0 !important;
    height: 42px !important;
}

/* Tooltip Re-Styling */

.tooltip-inner {
    max-width         : 200px;
    padding           : 12px 18px;
    color             : rgba(131, 131, 131, 1);
    text-align        : center;
    background-color  : #FFF;
    border-radius     : 8px !important;
    font-size         : 1.46rem;
    opacity           : 1;
    font-family       : "Open Sans", sans-serif;
    font-weight       : 400;
    border            : 1px solid rgba(150, 150, 150, 0.32);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(150, 150, 150, 0.32);
    -moz-box-shadow   : 0px 0px 8px 1px rgba(150, 150, 150, 0.32);
    box-shadow        : 0px 0px 8px 1px rgba(150, 150, 150, 0.32);
}

.tooltip-arrow {
    position    : absolute;
    width       : 0;
    height      : 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom          : 0;
    left            : 50%;
    margin-left     : -5px;
    border-width    : 5px 5px 0;
    border-top-color: rgba(131, 131, 131, 0.1493);
}

.tooltip.top-left .tooltip-arrow {
    bottom          : 0;
    right           : 5px;
    margin-bottom   : -5px;
    border-width    : 5px 5px 0;
    border-top-color: rgba(131, 131, 131, 0.1493);
}

.tooltip.top-right .tooltip-arrow {
    bottom          : 0;
    left            : 5px;
    margin-bottom   : -5px;
    border-width    : 5px 5px 0;
    border-top-color: rgba(131, 131, 131, 0.1493);
}

.tooltip.right .tooltip-arrow {
    top               : 50%;
    left              : 0;
    margin-top        : -5px;
    border-width      : 5px 5px 5px 0;
    border-right-color: rgba(131, 131, 131, 0.1493);
}

.tooltip.left .tooltip-arrow {
    top              : 50%;
    right            : 0;
    margin-top       : -5px;
    border-width     : 5px 0 5px 5px;
    border-left-color: rgba(131, 131, 131, 0.1493);
}

.tooltip.bottom .tooltip-arrow {
    top                : 0;
    left               : 50%;
    margin-left        : -5px;
    border-width       : 0 5px 5px;
    border-bottom-color: rgba(131, 131, 131, 0.1493);
}

.tooltip.bottom-left .tooltip-arrow {
    top                : 0;
    right              : 5px;
    margin-top         : -5px;
    border-width       : 0 5px 5px;
    border-bottom-color: rgba(131, 131, 131, 0.1493);
}

.tooltip.bottom-right .tooltip-arrow {
    top                : 0;
    left               : 5px;
    margin-top         : -5px;
    border-width       : 0 5px 5px;
    border-bottom-color: rgba(131, 131, 131, 0.1493);
}

.hrc-datepicker table tr td,
.datepicker table tr th {
    font-size: 1.25rem !important;
}

.hrc-datepicker.dropdown-menu {
    border-radius: 8px !important;
}

.hrc-datepicker .active,
.hrc-datepicker table tr td.active.active,
.hrc-datepicker table tr td span.active.active {
    background-color: #24bb72 !important;
}

.hrc-btn-sm.dropdown-toggle {
    height: auto;
}

.hrc-input-group-addon {
    cursor: pointer;
}

.hrc-facebook {
    color: #3b5998;
}

.hrc-btn-outline-facebook {
    background: #FFFFFF !important;
    color     : #3b5998;
    border    : 1px solid #C9C9C9;
}

.hrc-btn-outline-facebook:hover,
.hrc-btn-outline-facebook:focus {
    background: #3b5998 !important;
    color     : #FFFFFF;
    border    : 1px solid #3b5998;
}

.hrc-twitter {
    color: #00acee;
}

.hrc-btn-outline-twitter {
    background: #FFFFFF !important;
    color     : #00acee;
    border    : 1px solid #C9C9C9;
}

.hrc-btn-outline-twitter:hover,
.hrc-btn-outline-twitter:focus {
    background: #00acee !important;
    color     : #FFFFFF;
    border    : 1px solid #00acee;
}

.hrc-linkedin {
    color: #0e76a8;
}

.hrc-btn-outline-linkedin {
    background: #FFFFFF !important;
    color     : #0e76a8;
    border    : 1px solid #C9C9C9;
}

.hrc-btn-outline-linkedin:hover,
.hrc-btn-outline-linkedin:focus {
    background: #0e76a8 !important;
    color     : #FFFFFF;
    border    : 1px solid #0e76a8;
}

.hrc-confidential-text {}

.hrc-icon-pr-4 {
    padding-right: 4px;
}

.hrc-icon-mr-0 {
    margin-right: 0 !important;
}

.hrc-icon-center {
    top: 50% !important;
    right: 10px;
    transform: translateY(-50%);
}

.hrc-rounded {
    border-radius     : 8px !important;
    border            : none !important;
    box-shadow        : none !important;
    -webkit-box-shadow: none !important;
}

.hrc-rounded-r-4 {
    border-radius: 4px !important;
}

.hrc-rounded-r-6 {
    border-radius     : 6px !important;
    /* border         : none; */
    box-shadow        : none !important;
    -webkit-box-shadow: none !important;
}

.hrc-border-grey {
    border: 1px solid #dcdcdc !important;
}

.hrc-border-none {
    border: none !important;
}

.hrc-modal-rounded {
    border-radius: 8px !important;
}

.hrc-searchContainer i {
    background-color: #FFFFFF !important;
    top             : 8px !important;
}

/** Checkbox verdes **/

.hrc-checkbox {
    display: inline-block;
}

.hrc-checkbox label {
    display       : inline-block;
    vertical-align: middle;
    position      : relative;
    padding-left  : 5px;
    cursor        : pointer;
}

.hrc-checkbox label::before {
    content           : "";
    display           : inline-block;
    position          : absolute;
    width             : 20px;
    height            : 20px;
    left              : 0;
    margin-left       : -20px;
    border            : 1px solid #9A9A9A;
    border-radius     : 3px;
    background-color  : #FFFFFF;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition     : border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition        : border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.hrc-checkbox label::after {
    display     : inline-block;
    position    : absolute;
    width       : 20px;
    height      : 20px;
    left        : 0;
    top         : 0;
    margin-left : -20px;
    padding-left: 1px;
    font-size   : 1.8rem;
    line-height : 1.2;
}

.hrc-checkbox label.hrc-label-sm {
    display       : inline-block;
    vertical-align: middle;
    position      : relative;
    padding-left  : 5px;
}

.hrc-checkbox label.hrc-label-sm::before {
    content           : "";
    display           : inline-block;
    position          : absolute;
    width             : 16px;
    height            : 16px;
    left              : 0;
    margin-left       : -20px;
    border            : 1px solid #9A9A9A;
    border-radius     : 3px;
    background-color  : #FFFFFF;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition     : border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition        : border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.hrc-checkbox label.hrc-label-sm::after {
    display    : inline-block;
    position   : absolute;
    width      : 16px;
    height     : 16px;
    left       : 0;
    top        : 0;
    font-size  : 1.4rem;
    line-height: 1.4;
}

.hrc-checkbox input[type="checkbox"],
.hrc-checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor : pointer;
}

/* .hrc-checkbox input[type="checkbox"]:focus+label::before,
.hrc-checkbox input[type="radio"]:focus+label::before {
    outline       : thin dotted;
    outline       : 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
} */

.hrc-checkbox input[type="checkbox"]:checked+label::after {
    font-family: 'Hiring-Font';
    content    : "\e915";
}

.hrc-checkbox input[type="radio"]:checked+label::after {
    font-family: "FontAwesome";
    content    : "ï€Œ";
}

.hrc-checkbox input[type="checkbox"]:indeterminate+label::after,
.hrc-checkbox input[type="radio"]:indeterminate+label::after {
    display         : block;
    content         : "";
    width           : 10px;
    height          : 3px;
    background-color: #555555;
    border-radius   : 2px;
    margin-left     : -16.5px;
    margin-top      : 7px;
}

.hrc-checkbox input[type="checkbox"]:disabled,
.hrc-checkbox input[type="radio"]:disabled {
    cursor: not-allowed;
}

.hrc-checkbox input[type="checkbox"]:disabled+label,
.hrc-checkbox input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.hrc-checkbox input[type="checkbox"]:disabled+label::before,
.hrc-checkbox input[type="radio"]:disabled+label::before {
    background-color: #eeeeee;
    cursor          : not-allowed;
}

.hrc-checkbox.hrc-checkbox-circle label::before {
    border-radius: 50%;
}

.hrc-checkbox.hrc-checkbox-inline {
    margin-top: 0;
}

.hrc-checkbox-primary input[type="checkbox"]:checked+label::before,
.hrc-checkbox-primary input[type="radio"]:checked+label::before {
    background-color: #3598dc;
    border-color    : #3598dc;
}

.hrc-checkbox-primary input[type="checkbox"]:checked+label::after,
.hrc-checkbox-primary input[type="radio"]:checked+label::after {
    color: #fff;
}

.hrc-checkbox-danger input[type="checkbox"]:checked+label::before,
.hrc-checkbox-danger input[type="radio"]:checked+label::before {
    background-color: #ed6b75;
    border-color    : #ed6b75;
}

.hrc-checkbox-danger input[type="checkbox"]:checked+label::after,
.hrc-checkbox-danger input[type="radio"]:checked+label::after {
    color: #fff;
}

.hrc-checkbox-info input[type="checkbox"]:checked+label::before,
.hrc-checkbox-info input[type="radio"]:checked+label::before {
    background-color: #3598dc;
    border-color    : #3598dc;
}

.hrc-checkbox-info input[type="checkbox"]:checked+label::after,
.hrc-checkbox-info input[type="radio"]:checked+label::after {
    color: #fff;
}

.hrc-checkbox-warning input[type="checkbox"]:checked+label::before,
.hrc-checkbox-warning input[type="radio"]:checked+label::before {
    background-color: #f7b034;
    border-color    : #f7b034;
}

.hrc-checkbox-warning input[type="checkbox"]:checked+label::after,
.hrc-checkbox-warning input[type="radio"]:checked+label::after {
    color: #fff;
}

.hrc-checkbox-success input[type="checkbox"]:checked+label::before,
.hrc-checkbox-success input[type="radio"]:checked+label::before {
    background-color: #24bb72;
    border-color    : #24bb72;
}

.hrc-checkbox-success input[type="checkbox"]:checked+label::after,
.hrc-checkbox-success input[type="radio"]:checked+label::after {
    color: #fff;
}

.hrc-checkbox-primary input[type="checkbox"]:indeterminate+label::before,
.hrc-checkbox-primary input[type="radio"]:indeterminate+label::before {
    background-color: #3598dc;
    border-color    : #3598dc;
}

.hrc-checkbox-primary input[type="checkbox"]:indeterminate+label::after,
.hrc-checkbox-primary input[type="radio"]:indeterminate+label::after {
    background-color: #fff;
}

.hrc-checkbox-danger input[type="checkbox"]:indeterminate+label::before,
.hrc-checkbox-danger input[type="radio"]:indeterminate+label::before {
    background-color: #ed6b75;
    border-color    : #ed6b75;
}

.hrc-checkbox-danger input[type="checkbox"]:indeterminate+label::after,
.hrc-checkbox-danger input[type="radio"]:indeterminate+label::after {
    background-color: #fff;
}

.hrc-checkbox-info input[type="checkbox"]:indeterminate+label::before,
.hrc-checkbox-info input[type="radio"]:indeterminate+label::before {
    background-color: #3598dc;
    border-color    : #3598dc;
}

.hrc-checkbox-info input[type="checkbox"]:indeterminate+label::after,
.hrc-checkbox-info input[type="radio"]:indeterminate+label::after {
    background-color: #fff;
}

.hrc-checkbox-warning input[type="checkbox"]:indeterminate+label::before,
.hrc-checkbox-warning input[type="radio"]:indeterminate+label::before {
    background-color: #f7b034;
    border-color    : #f7b034;
}

.hrc-checkbox-warning input[type="checkbox"]:indeterminate+label::after,
.hrc-checkbox-warning input[type="radio"]:indeterminate+label::after {
    background-color: #fff;
}

.hrc-checkbox-success input[type="checkbox"]:indeterminate+label::before,
.hrc-checkbox-success input[type="radio"]:indeterminate+label::before {
    background-color: #24bb72;
    border-color    : #24bb72;
}

.hrc-checkbox-success input[type="checkbox"]:indeterminate+label::after,
.hrc-checkbox-success input[type="radio"]:indeterminate+label::after {
    background-color: #fff;
}

.hrc-radio label {
    display       : inline-block;
    vertical-align: middle;
    position      : relative;
    padding-left  : 5px;
}

.hrc-radio label::before {
    content           : "";
    display           : inline-block;
    position          : absolute;
    width             : 17px;
    height            : 17px;
    left              : 0;
    margin-left       : -20px;
    border            : 1px solid #ccc;
    border-radius     : 50%;
    background-color  : #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition     : border 0.15s ease-in-out;
    transition        : border 0.15s ease-in-out;
}

.hrc-radio label::after {
    display           : inline-block;
    position          : absolute;
    content           : " ";
    width             : 11px;
    height            : 11px;
    left              : 3px;
    top               : 3px;
    margin-left       : -20px;
    border-radius     : 50%;
    background-color  : #555555;
    -webkit-transform : scale(0, 0);
    -ms-transform     : scale(0, 0);
    -o-transform      : scale(0, 0);
    transform         : scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition   : -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition     : -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition        : transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.hrc-radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor : pointer;
}

.hrc-radio input[type="radio"]:focus+label::before {
    outline       : thin dotted;
    outline       : 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.hrc-radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform    : scale(1, 1);
    -o-transform     : scale(1, 1);
    transform        : scale(1, 1);
}

.hrc-radio input[type="radio"]:disabled {
    cursor: not-allowed;
}

.hrc-radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.hrc-radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.hrc-radio.hrc-radio-inline {
    margin-top: 0;
}

.hrc-radio-primary input[type="radio"]+label::after {
    background-color: #3598dc;
}

.hrc-radio-primary input[type="radio"]:checked+label::before {
    border-color: #3598dc;
}

.hrc-radio-primary input[type="radio"]:checked+label::after {
    background-color: #3598dc;
}

.hrc-radio-danger input[type="radio"]+label::after {
    background-color: #ed6b75;
}

.hrc-radio-danger input[type="radio"]:checked+label::before {
    border-color: #ed6b75;
}

.hrc-radio-danger input[type="radio"]:checked+label::after {
    background-color: #ed6b75;
}

.hrc-radio-info input[type="radio"]+label::after {
    background-color: #3598dc;
}

.hrc-radio-info input[type="radio"]:checked+label::before {
    border-color: #3598dc;
}

.hrc-radio-info input[type="radio"]:checked+label::after {
    background-color: #3598dc;
}

.hrc-radio-warning input[type="radio"]+label::after {
    background-color: #f7b034;
}

.hrc-radio-warning input[type="radio"]:checked+label::before {
    border-color: #f7b034;
}

.hrc-radio-warning input[type="radio"]:checked+label::after {
    background-color: #f7b034;
}

.hrc-radio-success input[type="radio"]+label::after {
    background-color: #24bb72;
}

.hrc-radio-success input[type="radio"]:checked+label::before {
    border-color: #24bb72;
}

.hrc-radio-success input[type="radio"]:checked+label::after {
    background-color: #24bb72;
}

input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
    font-family: "FontAwesome";
    content    : "ï€Œ";
}

input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
    color: #fff;
}
/* fin checkbox y radio buttons */

.postulantMassiveActions {
    font-weight  : normal !important;
}

.hrc-general_actions a {
    margin-top   : 5px;
    margin-bottom: 5px;
}

.hrc-a-link,
.hrc-link,
.hrc-a-link:active,
.hrc-a-link:visited,
.hrc-a-link:focus,
.hrc-dropdown-list li a {
    text-decoration: none !important;
    outline        : none !important;
}

.hrc-a-link:hover,
.hrc-a-link:active,
.hrc-a-link:focus {
    color: #24bb72 !important;
}

.hrc-dropdown-list li a {
    background-color: transparent !important;
}
/* Font-size */
.hrc-font-size {
    font-size: 20px;
    font-weight: 600;
}

.hrc-font-size-title {
    font-size: 26px;
    font-weight: 600;
}

.hrc-font-size-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #5a5a5a;
}

/**Btn azul**/
.btn-hr-blue {
    border-radius: 8px !important;
    height       : 38px;
    width        : 108px;
    color        : #fff;
    background   : #3598DC !important;
}
/* Btn min width */
.hrc-btn-min-w {
    min-width      : 108px;
    justify-content: center;
}

/* Botones accion del postulante */
.actionsPostulantButton {
    border         : 1px solid #dadada;
    border-radius  : 8px !important;
    font-size      : 16;
    display        : inline-flex !important;
    line-height    : 2em !important;
    height         : 32px;
    width          : 32px;
    justify-content: center;
    /* margin-right   : 5px; */
}

.actionsPostulantButton i {
    font-size    : 16px !important;
    align-content: center;
    display      : inline-grid;
}

/* Display */
.hrc-d-flex {
    display: flex;
}

.hrc-align-items {
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
    gap            : 8px;
} 

.hrc-align-items-redes {
    align-items    : center;
    justify-content: center;
} 

/* li elemnts disable */
li.unavailable {
    pointer-events: none;
    opacity       : 0.6;
}

.bootbox-confirm .modal-dialog .modal-content {
    border-radius: 8px !important;
}

#popup_product_tour {
    z-index: 99999;
}

#popup_timeoutsession {
    z-index: 999999;
}

.ui-tooltip {
    max-width         : 250px;
    padding           : 12px 18px;
    color             : rgba(131, 131, 131, 1);
    text-align        : center;
    background-color  : #FFF;
    border-radius     : 8px !important;
    font-size         : 1.46rem;
    opacity           : 1;
    font-family       : "Open Sans", sans-serif;
    font-weight       : 400;
    border            : 1px solid rgba(150, 150, 150, 0.32);
    -webkit-box-shadow: 0px 0px 8px 1px rgb(150 150 150 / 32%);
    -moz-box-shadow   : 0px 0px 8px 1px rgba(150, 150, 150, 0.32);
    box-shadow        : 0px 0px 8px 1px rgb(150 150 150 / 32%);
    opacity           : 0.9;
    z-index           : 99999;
}

.openPostulantFreemium {
    position: absolute;
    right   : 8px;
    top     : 8px;
}

.openPostulantFreemium i {
    font-size: 16px;
}

.hrc-card-conected {
    border: 2px solid #24bb72 !important;
    border-radius: 6px !important;
}

.hrc-card-disconected {
    border: 1px solid #dadada !important;
    border-radius: 6px !important;
}

.hrc-w-232 {
    width: 232px !important;
}

.hrc-conectado {
    width: 186px !important;
    margin-right: 6px;
}

.hrc-padding-buttom {
    padding: 6px 32px;
}

/* Font-sizes para texts y titulos */

.hrc-fs-16 {
    font-size: 16px !important;
}

.hrc-fs-20 {
    font-size: 20px !important;
}

.hrc-fs-14 {
    font-size: 14px !important;
}

.hrc-redes-content {
    align-content: center;
    flex-direction: row;
    justify-content: center;
}
/******************************************/
/** RESPETAR EL PREFIJO "hrc-" */
/******************************************/
/******************************************/
/******************************************/