.modal-custom {
    height: 100vh;
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(137, 137, 137, 0.3);

    display: flex;
    justify-content: center;
    align-items: flex-start;

    opacity: 0;
    z-index: -1;
}

.modal-custom .modal__wrapper {
    width: 90%;
    max-width: 650px;
    max-height: 90%;
    margin: 0 auto;
    margin-top: 16px;
    padding: 32px;
    height: max-content !important;

    background-color: #fff;
    border-radius: 6px !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;

    transform: translateY(-200%);

    animation-duration: 0.4s;
    animation-direction: normal;
    animation-fill-mode: forwards;

    display: flex;
    flex-direction: column;

}

.modal-custom.small .modal__wrapper {
    max-width: 400px !important;
}

.modal-custom .modal__wrapper--close {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 20px;

    cursor: pointer;
}

.modal-custom .modal__wrapper--icon {
    height: 141px;
    margin-bottom: 32px;
}

.modal-custom .modal__wrapper--title {
    font-size: 16px;
    margin-bottom: 8px;
    align-self: flex-start;

    display: flex;
    align-items: flex-end;
}

.modal-custom .modal__wrapper--title i {
    margin-right: 5px;
}

.modal-custom .modal__wrapper hr {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 24px;
    color: #dadada;
}

.modal-custom .modal__wrapper--text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 24px;
}

.modal-close {
    width: 160px;
}

.modal-custom .modal__wrapper .btn {
    height: 40px;
    align-self: flex-end;
}
/* Modals bum y zona */

.modal-body {
    display: flex;
    flex-direction: column;
}

.hrc-btn-bum {
    background-color: #000DF1 !important;
    color: #FFFFFF !important;
    height: 40px!important;
    border-radius: 8px !important;
    width: 280px;
    gap: 4px;
}

.hrc-btn-bum:hover {
    background-color: #3D47F5 !important;
}


.hrc-btn-zj {
    background-color: #F27301 !important;
    color: #FFFFFF !important;
    height: 40px!important;
    border-radius: 8px !important;
    width: 280px;
    gap: 8px;
}

.hrc-btn-zj:hover {
    background-color: #FE633F;
    border-color: #FE633F;
}

.button-bum-zona-align {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.modal-dialog {
    max-width: 600px;
}

.modal-body-content {
    width: 400px;
}

.modal-inputs {
    width: 100%;
}

.modal-title {
    gap: 4px;
}
.txt-user,
.txt-pass {
    border-radius: 8px !important;
}

.btnSubmit,
.buttonCancel {
    padding: 0 24px;
    height: 40px;
}

.btn_apply_with_hiringroom {
    width: 280px;
}

.postulation-text {
    max-width: 390px;
    align-self: center;
}

.hrc-btn-facebook {
    background: #0178f8 !important;
    color: #fff !important;
}

.hrc-btn-linkedin {
    background: #0078b6 !important;
    color: #fff !important;
}

.hrc-btn-whatsapp {
    background: #25D366 !important;
    color: #fff !important;
}

.hrc-btn-twitter {
    background: #03a9f4 !important;
    color: #fff !important;
}

.hrc-btn-facebook i,
.hrc-btn-linkedin i,
.hrc-btn-twitter i,
.hrc-btn-whatsapp i {
    color: #fff !important;
}

.Buttons-support {
    display: flex;
    justify-content: space-between;
}

.Buttons-support__cancel,
.Buttons-support__send button {
    width: 160px;
    justify-content: center;
}

input[type="text"]::placeholder {
    font-size: 14px;
}

@keyframes modal-1 {
    to {
        transform: translateY(0%);
    }
}

@keyframes modal-2 {
    from {
        transform: translateY(10%);
    }

    to {
        transform: translateY(-200%);
    }
}

@media (max-width: 991px) {
    /* .modal-custom .modal__wrapper {
        padding: 16px;
    } */

}

@media (min-width: 767px) {
    
}

@media (max-width: 635px) {

    .Buttons-support{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .5rem;
    }

    .Buttons-support__cancel {
        grid-row: 2;
        width: 100%;
    }

    .Buttons-support__send {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .Buttons-support__send button {
        width: 50%;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 440px) {

    .modal-body-content {
        width: auto;
    }

    .modal-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .txt-user,
    .txt-pass {
        width: 280px;
    }

    .no-user {
        text-align: center;
    }
}

@media (max-width: 428px) {
    .modal-close {
        width: 120px !important;
    }

    .modal__wrapper-social a {
        justify-content: center;
        align-items: center;
    }

    .hrc-btn-bum,
    .hrc-btn-zj,
    .btn_apply_with_hiringroom,
    .btn-close-modal {
        width: 280px !important;
    }

    .modal-footer {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .btn:not(:disabled):not(.disabled) {
        width: 100%;
    }
}