
.mr-24 {
    margin-right: 24px;
}
.text-color {
    color: #767676;
}
.text-color span i {
    color: inherit;
}
/* SidebarFilter */
.container_filter {
    background: var(--white);
    z-index: 999;
    right: -350px;
    width: 350px;
    height: 100vh;
    position: fixed;
}

.section {
    border-bottom: 1px solid #dadada;
    padding: 15px;
    color: #3b3f51;
}

.section__fixed {
    top: 0;
    width: 100%;
}

.users_container_scroll {
   height: max-content !important;
}

.scroll_section{
    margin-top: 82px;
    height: 80vh !important;
    max-height: 80vh !important;
}

.block-scroll {
    overflow: hidden;
}

.blackDiv{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: 600;
    display: none;
}



.applyFilter {
    width: 160px;
}

.openFilter {
    right : 0;
    transition: .3s all;
}

.SumoSelect {
    width: 100% !important;
}

.SumoSelect.open > .optWrapper {
    top: 45px !important;
    border-radius: 8px;
}

.SumoSelect > .optWrapper {
    width: max-content !important;
}

.SumoSelect > .CaptionCont {
    border: 1px solid #ced4da !important;
    border-radius: 8px !important;
    height: 40px;
}



.SumoSelect > .CaptionCont > label {
    display: none !important;
}








.Navbar {
    height: 56px;
}

.Navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Hero {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Hero__img-container {
    width: 100%;
    height: 225px;

    display: flex;
}

.Hero__img-container img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.Hero .container {
    position: relative;
}

.Hero__logo {
    width: 160px;
    height: 160px;

    border: 5px solid #f4f4f4;
    border-radius: 10px;
    background-color: white;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.Hero__logo img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.Hero__content {
    margin-top: 16px;
    margin-left: 154px;
}



.Contact__map {
    width: 100%;
    height: 423px;
}

.card.hoverable {
    transition: all 0.3s;
    cursor: pointer;
    height: auto;
    border-radius: 6px !important;
    justify-content: center;
}

.card.hoverable:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;
}

.card-vacancy {
    display: flex;
    gap: 8px;
}

.card-vacancy .card-img-wrapper {
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 6px;
    overflow: hidden;
    align-self: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.card-vacancy .card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-vacancy .card-body {
    width: 50%;
}

.card-pinned {
    width: 80px;
    height: 80px;

    background-color: var(--color-light-green);

    position: absolute;
    top: 0;
    right: 0;

    clip-path: polygon(100% 0, 0 0, 100% 100%);

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border-top-right-radius: 6px;
}



.pagination .page-item:first-child a,
.pagination .page-item:last-child a {
    border-radius: 50% !important;
}

.pagination .page-item:nth-child(2) a {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.pagination .page-item:nth-last-child(2) a {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.pagination .page-item a {
    width: 28px;
    height: 28px;
    color: var(--color-blue);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none !important;
}




.btn-toggle-section.active::before {
    
    box-shadow: 1px 16px 20px -8px rgba(0,0,0,0.3) !important;
}





.btn-toggle-section.active::after {
    content: '';
    width: 150%;
    height: 4px;

    background-color: var(--color-green);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    position: absolute;
    bottom: 0;
    left: -22%;
}

.input-group input {
    border-radius: 8px !important;
    padding-top: 4px;
    height: 40px;
}




#input-searchText {
    border: 1px solid #dadada !important;
}



.informationLinks {
    display: flex;
}


.select2-result-label .wrap.checked:before{
    content:"\f14a";
}
.select2-result-label .wrap{
    margin-left:15px;
}

.selectReason {
    white-space: nowrap;
}

.selectReason::after {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.dd_previo .fa-angle-left {
    margin-right: 6px;
}

  
  .select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
  }
  .select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 20px;
    vertical-align: middle;
  }
 
  .select2-container--default .select2-results__option[aria-selected=true] {
      background-color: #fff;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
      background-color: #eaeaeb;
      color: #272727;
  }
  .select2-container--default .select2-selection--multiple {
      margin-bottom: 10px;
  }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
      border-radius: 4px;
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple {
      border-color: #f77750;
      border-width: 2px;
  }
  .select2-container--default .select2-selection--multiple {
      border-width: 2px;
  }
  .select2-container--open .select2-dropdown--below {
      
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
  }
  .select2-selection .select2-selection--multiple:after {
      content: 'hhghgh';
  }

.row .col-md-3 .select-wrapper:after,
.col-lg-3 .select-wrapper:after {
    top: 0 !important;
}

.rounded-item {
    border-radius: 6px !important;
    overflow: hidden;
}

.list-container {
    margin: 0 -15px 0 -15px;
    padding-left: 16px;
}

.list-information li {
    margin-top: 16px;
}



.form-group .form-control::placeholder{
    color: #9a9a9a !important;
}

.form-control:not(textarea) {
    height: 40px !important;
}

.form-group label {
    margin-bottom: 4px;
}

.hrc-btn {
    height: 40px;
    padding: 4px 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 6px;

}



.hrc-btn.hrc-btn-big {
    width: 100% !important;
}

.hrc-btn-square {
    width: 40px;
    height: 40px;
}

.hrc-btn-orange {
    background-color: var(--color-orange);
    color: #fff !important;
}

.hrc-btn-green {
    background-color: var(--color-green);
    color: #fff !important;
}

.hrc-btn-dark {
    background-color: var(--color-black);
    color: #fff !important;
    height: 32px !important;
}

.hrc-btn-black {
    background: #3B3F51 !important;
    color     : #FFFFFF;
}

.hrc-btn-black:hover {
    background: #52576E !important;
    color     : #FFFFFF;
}

.hrc-btn-black:focus {
    color     : #FFFFFF;
    background: #2E3142 !important;
}

.hrc-btn-black-outline,
.hrc-btn-black-outline:focus,
.hrc-btn-black-outline.focus {
    color       : #3B3F51 !important;
    border-color: #3B3F51 !important;
    background  : white !important;
}

.hrc-btn-black-outline:hover {
    color           : #3B3F51 !important;
    border-color    : #3B3F51;
    background-color: #ECEDF0 !important;
}

.hrc-btn-black-outline:active {
    color           : #FFFFFF !important;
    border-color    : #3B3F51;
    background-color: #3B3F51 !important;
}

.hrc-btn-black-outline:active i {
    color: #FFFFFF;
}

.hrc-btn-black i {
    color: #fff;
}



.hrc-btn-default {
    background-color: var(--color-grey);
    color: #000 !important;
}

.hrc-btn-outline-dark {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-black);
    border-radius: 6px;
}

/* .hrc-btn-facebook {
    background: #0178f8 !important;
    color: #fff !important;
}

.hrc-btn-linkedin {
    background: #0078b6 !important;
    color: #fff !important;
}

.hrc-btn-whatsapp {
    background: #25D366 !important;
    color: #fff !important;
}

.hrc-btn-twitter {
    background: #03a9f4 !important;
    color: #fff !important;
}

.hrc-btn-facebook i,
.hrc-btn-linkedin i,
.hrc-btn-twitter i,
.hrc-btn-whatsapp i {
    color: #fff !important;
} */

.description-empresa p {
    margin: 0 !important;
}

#mobile-header {
    display: none;
}

#openFilter {
    white-space: nowrap;
}

@keyframes modal-1 {
    to {
        transform: translateY(0%);
    }
}

@keyframes modal-2 {
    from {
        transform: translateY(10%);
    }

    to {
        transform: translateY(-200%);
    }
}



.showAndHide {
    display: none;
}

.modalityShow {
    display: flex;
}

.tooltip-share {
    padding: 6px;

    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) !important;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25)) !important;
    margin-top: 8px;
    border-radius: 6px;

    position: absolute;
    top: 100%;
    right: -2%;

    display: none;
    z-index: 999;
}

.tooltip-share.active {
    display: flex;
}

.tooltip-share::after {
    content: '';
    width: 24px;
    height: 16px;
    background-color: white;

    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25) !important;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.tag-vacancy i {
    color: #3B3F51;
}


.dd_previo {

 border-radius: 50%;
 background: var(--white);
 margin-right: 5px;

}

.dd_siguiente {
 border-radius: 50%;
 background: var(--white);
 margin-left: 5px;
}

.dataText,
.dataText p {
    width: 90%;
    max-width: 92%;
}

.pagination li:not(:first-child) a,
.pagination li:not(:last-child) a {
    background: var(--white);
} 

.borders {
    border-radius:0 !important;
}

.border-none-radius-prev {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.border-none-radius-next {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.pagination li:nth-child(2) a {
    background: var(--white);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.pagination li:nth-last-child(2) a {
    background: var(--white);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;  
}

.pagination li a {
    width: 28px;
    height: 28px;
    color: var(--color-blue);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none !important;
    text-decoration: none;
}

.pagination li a:hover {
    z-index: 2;

    text-decoration: none;
    background-color: #e9ecef;
}





 #btn-open-navbar {
    width: 40px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
}

.Hero__text {
    max-width: 589px;
    word-break: break-word;
}

@media (max-width: 991px) {

    .informationLinks,
    .Navbar .questionsFaq {
        display: none;
    }

    .card-responsive {
        flex-direction: column;
        gap: 4px;
    }

    .card-responsive p {
        align-self: flex-start;
    }

    .card.hoverable {
        height: auto;
    }

    .card-vacancy .card-img-wrapper {
        align-self: flex-start;
    }

    .container-filter {
        width: -100vw;
    }

    .openFilter {
        width: 100vw;
        transition: .3s all;
    }

    .main-section {
        max-width: 540px !important;
    }
    #btn-open-navbar {
        width: 40px;
        height: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        border: none;
        background: none;
    }

    #btn-open-navbar .line {
        width: 100%;
        height: 3px;
        background-color: #000;
    }

    #btn-close-navbar {
        width: 36px;
        height: 20px;
        margin-left: -8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        border: none;
        background: none;
    }

  

    #btn-close-navbar .line {
        width: 100%;
        height: 3px;
        background-color: #000;
    }

    #btn-close-navbar .line:first-child {
        transform: rotateZ(-45deg) translateY(50%);
    }
    #btn-close-navbar .line:last-child {
        transform: rotateZ(45deg) translateY(-50%);
    }

    #mobile-header {
        display: block;
    }

    #openedFilter {
        display: block;
    }

  

    .MenuMobile {
        width: 70%;
        height: 110vh;

        background-color: #fff;
        transition: all ease 0.3s;

        position: fixed;
        top: 0;
        left: -100%;

        z-index: 999;
    }

    .MenuMobile.active {
        left: 0;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3) !important;
    }

  
    .MenuMobile__header {
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: start;
    }

    .MenuMobile__header .logo {
        border-radius: 6px;
    }

    .Hero .container {
        margin-top: 16px !important;
    }

    .Hero__img-container {
        height: 150px;
    }

    .Hero__content {
        width: 100%;
        margin: 0 auto;

        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .Hero__text {
        margin-top: 32px;
        text-align: center;
    }

    .Hero__logo {
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        height: 132px;
        width: 132px;
    }

    .input-group.small .input-icon {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .card-vacancy .card-body {
        width: 30%;
    }

    .card-vacancy .card-body h4 {
        max-width: 90%;
    }

 
    .card-vacancy .card-pinned h4 {
        max-width: 180px;
    }

    .card-pinned {
        width: 50px;
        height: 50px;
    }

 

    .modal-custom .modal__wrapper {
        padding: 16px;
    }
    
    .filterAplicated {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ED6B75;
        top: -2px;
        right: -2px;
    }
}


@media only screen 
and (max-width: 834px) 
{
    
    #btn-close-navbar {
        width: 36px;
        height: 20px;
        margin-left: -8px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        border: none;
        background: none;
    }
    
    #btn-close-navbar .line {
        width: 100%;
        height: 3px;
        background-color: #000;
    }
    
    #btn-close-navbar .line:first-child {
        transform: rotateZ(-45deg) translateY(50%);
    }
    #btn-close-navbar .line:last-child {
        transform: rotateZ(45deg) translateY(-50%);
    }

    .Hero__logo{ 
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 132px;
        height: 132px;
    }

    .Hero__content {
        width: 100%;
        margin: 0 auto;
        flex-direction: column !important;
    }


    .MenuMobile {
        width: 75%;
        height: 110vh;

        background-color: #fff;
        transition: all ease 0.3s;

        position: fixed;
        top: 0;
        left: -100%;

        max-width: 350px;

        z-index: 999;
    }

    .MenuMobile.active {
        left: 0;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3) !important;
    }

  
    .MenuMobile__header {
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: start;
    }

    .MenuMobile__header .logo {
        border-radius: 6px;
    }

}

@media (max-width: 991px) and (orientation : landscape) {

    #btn-open-navbar {
        width: 40px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: none;
        background: none;
    }
    
    #btn-close-navbar {
        width: 36px;
        height: 20px;
        margin-left: -8px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        border: none;
        background: none;
    }
    
    #btn-close-navbar .line {
        width: 100%;
        height: 3px;
        background-color: #000;
    }
    
    #btn-close-navbar .line:first-child {
        transform: rotateZ(-45deg) translateY(50%);
    }
    #btn-close-navbar .line:last-child {
        transform: rotateZ(45deg) translateY(-50%);
    }

    .Hero__logo{ 
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 132px;
        height: 132px;
    }

    .Hero__content {
        width: 100%;
        margin: 0 auto;
        flex-direction: column !important;
    }


    .MenuMobile {
        width: 70%;
        height: 110vh;

        background-color: #fff;
        transition: all ease 0.3s;

        position: fixed;
        top: 0;
        left: -100%;

        z-index: 999;
    }

    .MenuMobile.active {
        left: 0;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3) !important;
    }



    .MenuMobile__header {
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: start;
    }

    .MenuMobile__header .logo {
        border-radius: 6px;
    }
}

@media screen and (max-width:991px) {
}

@media screen and (max-width:425px) {
    .showAndHide {
        display: flex;
    }

    .modalityShow {
        display: none;
    }

    .btn:not(:disabled):not(.disabled) {
        width: 100%;
    }
}