* {
    box-sizing: border-box;
    outline: none !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
}

p,ul {
    font-size: 14px;
}

h5 {
    font-size: 16px;
}

.font-green {
    color: #24bb72;
}

.font-red {
    color: #d60e40;
}

.fs-20 {
    font-size: 20px;
}

.font-weight-semibold {
    font-weight: 600;
}

h5 {
    /* font-family: 'Open Sans', sans-serif; */
}

.header__navbar {
    height: 56px;
}

.hero__img-container {
    min-width: 0px;
    max-width: none;
    width: 100%;
    min-height: auto;
    max-height: none;
    height: 225px;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000;
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
}

.hero__img{
    object-fit: cover;
    object-position: center;
}

.header__open-navbar{
    width: 40px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
}

.header__open-navbar i {
    font-size: 24px;
    color: #3B3F51;
}

.vacancy-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
}

.header__menu-mobile {
    display: none;
}

.hero__container-info {
    min-width: 0px;
    max-width: none;
    width: 100%;
    min-height: auto;
    max-height: none;
    height: auto;
    margin: -80px 0 0 0;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.hero__container {
    min-width: 0px;
    max-width: 1140px;
    width: 100%;
    min-height: auto;
    max-height: none;
    height: auto;
    margin: 0px 10px;
    padding: 16px;
    border-radius: 6px;
    border: 2px solid #f4f4f4;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hero__info-items {
    min-width: 0px;
    max-width: none;
    width: 100%;
    min-height: auto;
    max-height: none;
    height: auto;
    margin: 0;
    padding: 0;
   
    background-color: transparent;
    box-sizing: border-box;
  
    display: flex;
    gap: 16px;
    
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
   
    flex-wrap: wrap;
}

.hero__info-item {
    min-width: 0px;
    max-width: none;
    width: 100%;
    min-height: auto;
    max-height: none;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.hero__info {
    width: 100%;
    background-color: transparent;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    /* overflow: hidden; */
}

.hero__figure {
    max-width: none;
    min-height: auto;
    max-height: 112px;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border-width: 0px;
    border-style: solid;
    border-color: #000;
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;

    min-width: 112px;
    width: 112px;
    height: 100%;
    align-self: center;
}

.hero__figure-img {
    object-fit: cover;
    object-position: center;
}

.hero__information-vacancy {
    min-width: 0px;
    max-width: none;
    width: 100%;
    max-height: none;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 0;
    min-height: 112px;
}

.hero__title {
    min-width: 0px;
    max-width: none;
    width: 100%;
    min-height: auto;
    max-height: none;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hero__title h2 {
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    text-align: left;
    word-break: break-word;
    color: #3B3F51;
    user-select: auto;
    cursor: auto;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.hero__area-ubication {
    min-width: 0px;
    max-width: none;
    width: 100%;
    min-height: auto;
    max-height: none;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    gap: 4px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.hero__area-ubication {
    color: #3B3F51;
}

.hero__area-ubication span{
    color: #767676;
}

.hero__area-ubication p{
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    text-align: left;
    word-break: break-word;
    color: #767676;
    cursor: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.hero__container-tags {
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 6px;
}

.hero__tag {
    background-color: rgba(59,63,81,0.1);
    color: #3B3F51 !important;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 50px;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.hero__time { 
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
}

.hero__time-new {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #24bb72;
    font-size: 14px;
    margin: 0;
}

.hero__time--old {
    font-weight: 400;
    color: #3B3F51;
}

.hero__btn {
    width: 224px;
    justify-content: center;
    /* padding: 6px 48px; */
    align-items: center;
    font-size: 16px !important;
    font-weight: 600 !important;
    height: 48px;
}

.hero__time-vacancy {
    gap: 24px;
}

.button__hidden {
    display: none;
    align-items: center;
    justify-content: center;
}

.button__hidden a {
    margin: 12px 0;
}

.hero__block-hide {
    display: none;
    gap: 16px;
}

.hero__container-tags--mobile,
.hero__area-ubication--mobile,
.hero__time--mobile {
    display: none;
}

.hero__time--tablet {
    display: none;
    min-width: 0px;
    max-width: none;
    width: auto;
    min-height: auto;
    max-height: none;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
    gap: 8px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.hero__container-tags-tablet {
    justify-content: space-between;
}

.hero__tag-items {
    gap: 4px;
}
/* Main section */
.main {
    margin-top: 12px;
}

.main__left {
    border-radius: 6px;
}

.main__description ul {
    list-style-position: inside;
}

.main__description ul li p {
    display: contents;
}

.main__right,
.main__description,
.main__details,
.main__figure {
    border-radius: 6px;
}
.main__right {
    padding-left: 12px !important;
}

.main__details {
    margin-top: 12px;
}

.main__button {
    margin: 12px 0;
}

.main__button--top {
    margin-top: 12px;
}

.main__tags {
    flex-wrap: wrap;
    gap: 4px;
    display: flex;
}

.main__tags-item {
    background-color: #ABEFCF;
    color: #3B3F51 !important;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.main__list-vacancies-items {
    padding: 16px 24px;
    border-bottom: 1px solid #dadada;
}

.main__list-vacancies-items:hover {
    background-color: rgba(244, 244, 244, 0.5);
    cursor: pointer;
}

.main__list-vacancies-items h6 {
    font-size: 14px;
}

.main__list-vacancies-items p {
    font-size: 12px;
}

.main__share {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 8px;
}

.main__share button,
.main__share a {
    gap: 4px;
}

.main__info,
.main__list-vacancies {
    border-radius: 6px;
}

.main__info p {
    margin: 0 !important;
}

.main__title {
    border-bottom: 1px solid #dadada;
}
.main__showmore-vacancies {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.main__showmore-vacancies span {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.main__showmore-vacancies span:hover {
    color: #119354 !important;
    transition:ease-in-out;
}

.main__description h6,
.main__details h6 {
    gap: 4px;
}

.main__img-container,
.main__img-container-mobile {
    margin-bottom: 12px;
}

.main__img-container iframe {
    border-radius: 6px;
}

.main__img-container-mobile {
    display: none;
}

.main__figure img {
    border-radius: 6px;
}



.selectReason::after {
    top: 8px;
}

.header__list a{
    gap: 4px;
}

.list-menu-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-information li{
    margin-top: 16px;
}

.complete_form {
    position: relative;
}

.complete_form::before {
    content: "";
    width: 20%;
    height: 2px;
    background-color: #dadada;
    position: absolute;
    left: 36%;
    top: 50%;
    transform: translateX(-50%);
}

.complete_form::after {
    content: "";
    width: 20%;
    height: 2px;
    background-color: #dadada;
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateX(-50%);
}

/* Tooltip share */

.tooltip-share {
    padding: 6px;

    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) !important;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25)) !important;
    margin-top: 8px;
    border-radius: 6px;

    position: absolute;
    top: 85%;
    right: -8%;

    display: none;
    z-index: 999;
}

.tooltip-share.active {
    display: flex;
}

.tooltip-share::after {
    content: '';
    width: 24px;
    height: 16px;
    background-color: white;

    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25) !important;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hrc-btn-square {
    width: 40px;
    height: 40px;
    align-items: center;
}

.hrc-btn-square i {
    font-size: 16px;
}

.hrc-btn-black-outline:active i,
.hrc-btn-black-outline:active i {
    color: #555 !important;
}

.updateProfile {
    border-bottom: 1px solid #dadada;
    padding-bottom: 16px;
}

.modal-footer-buttons button {
    width: 140px;
}

.modal-footer-buttons input {
    width: 140px;
}

.modalOk-buttons button {
   width: max-content;
   justify-content: center;
}

.modal-content-container {
    max-width: 400px;
}

.modal-header-content {
    margin: 10px 10px 0 0;
}

.modal-body-container {
    padding: 32px;
}

.modal-footer-buttons {
    padding: 0px 32px 32px 32px;
}

.buttonCross {
    font-size: 20px;
    color: #3B3F51;
    opacity: 1 !important;
}

.buttonCross:hover {
    color: #3B3F51 !important;
    opacity: 1 !important;
}

.input-email::placeholder {
    font-size: 14px;
    font-family:'Open Sans', sans-serif;
}

/* Webkits */

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button-bevel;
}

.list-container {
    margin: 0 -15px 0 -15px;
    padding-left: 16px;
}

/* Media queries */

@media (max-width: 1200px) {
    .hero__container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    .header__menu-mobile {
        display: block;
    }

    .header__open-navbar{ 
        display: block;
    }

    .header__close-navbar {
        width: 36px;
        height: 20px;
        margin-left: -8px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        border: none;
        background: none;

    }

    .header__close-navbar i {
        font-size: 24px;
        color: #3B3F51;
    }

    .header__list {
        display: none;
    }

    .MenuMobile {
        width: 70%;
        max-width: 300px;
        height: 110vh;

        background-color: #fff;
        transition: all ease 0.3s;

        position: fixed;
        top: 0;
        left: -100%;

        z-index: 999;
    }

    .MenuMobile.active {
        left: 0;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3) !important;
    }

    .MenuMobile .icon {
        font-size: 16px;
    }

    .MenuMobile__header {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .MenuMobile__header .logo {
        border-radius: 6px;
    }

    .button__hidden  {
        display: flex;
    }

    .hero__button-time {
        display: none;
    }

    .hero__time--tablet{
        display: flex;
    }

    .hero__container {
        max-width: 720px;
    }

    .main__button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .main {
        margin-top: 0;
        flex-direction: column;
    }

    .main__share {
        display: none;
    }

    .main__list-vacancies {
        margin-top: 12px;
    }

    .main__img-container {
        display: none;
    }

    .main__img-container-mobile {
        display: block;
    }
}

@media (max-width:767px) {
    .main {
        flex-direction: column;
    }

    .main__right {
        padding: 0 !important;
    }

    .hero__container {
        max-width: 540px;
    }
    .main__left {
        padding: 0 !important;
    }
}

@media (max-width:576px) {
    .main__left,
    .main__right {
        padding: 0 12px !important;
    }
}

@media (max-width: 450px) {

    .modalOk-buttons{ 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 8px;
    }

    .modalOk-buttons .hrc-btn-default {
        grid-row: 2;
    }

    .hero__container {
        flex-direction: column;
    }

    .hero__container-tags--mobile{
        padding: 0;
       
    }
    .hideOnMoible{
        display: none;
    }
    .hero__block-hide {
        display: flex;
        flex-direction: column;
    }
    .hero__figure {
        width: 72px;
        min-width: 72px;
        height: 100%;
        max-height: 72px;
    }
    .hero__information-vacancy {
        min-height: auto;
    }
    .hero__info {
        align-items: center;
    }
    .hero__time {
        width: 100%;
    }
    .hero__info-item {
        align-items: center;
    }

    .hero__container-tags--mobile,
    .hero__area-ubication--mobile,
    .hero__time--mobile {
        display: flex;
    }
    .button__hidden {
        margin: 0 10px;
    }
    .button__hidden a {
        width: 100%;
        margin: 12px 0;
        justify-content: center;
       
    }

    .main__left {
        padding-right: 12px !important;
        padding-left: 12px !important;
    }

    .main__button {
        width: 100%;
    }

    .main {
        margin-top: 0;
    }

    .modal-footer-buttons {
        flex-wrap: nowrap;
    }

    .modal-footer-buttons button {
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .hero__tag {
        padding: 4px 14px;
    }
}