/* * {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-snap-type: y mandatory;
  } */
  
  /* body {
    color: white;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
  }
   */
   .app__videos h3{
    color: white;
    font-size: 20px;
    }  

  .app__videos {
    /* position: relative; */
    height: 750px;
    background-color: white;
    overflow: scroll;
    width: 100%;
    /* max-width: 400px; */
    scroll-snap-type: y mandatory;
    /* border-radius: 20px; */
  }
  
  .app__videos::-webkit-scrollbar {
    display: none;
  }
  
  .app__videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .video {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    scroll-snap-align: start;
  }
  
  .video__player {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .videoSidebar {
    position: absolute;
    top: 74%;
    right: 10px;
  }
  
  .videoSidebar .material-icons {
    font-size: 28px;
    cursor: pointer;
  }
  
  .videoSidebar__button {
    padding: 20px;
    text-align: center;
  }
  
  .videoFooter {
    position: relative;
    bottom: 190px;
    margin-left: 20px;
    color: white;
    display: flex;
  }
  
  @keyframes spinTheRecord {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .videoFooter__record {
    /* animation: spinTheRecord infinite 5s linear; */
    height: 50px;
    /* filter: invert(1); */
    position: absolute;
    bottom: 15px;
    right: 20px;
  }
  
  .videoFooter__text {
    flex: 1;
    padding: 0px 0px 20px 0px;
  }
  
  .videoFooter__text h3 {
    padding-bottom: 20px;
  }
  
  .videoFooter__icon {
    position: absolute;
  }
  
  .videoFooter__ticker {
    width: 400px;
    display: flex;
    align-items: center;
  }
  
  .videoFooter__ticker marquee {
    height: fit-content;
    margin-left: 30px;
    width: 60%;
  }
  
  .videoFooter__description {
    padding-bottom: 20px;
    margin-right: 100px;
  }
  
  @media (max-width: 425px) {
    .app__videos {
      width: 100%;
      /* height: 100%; */
      max-width: 100%;
      border-radius: 0;
    }
  }